
* ,
*::after,
*::befores{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 25px;
  --main-bg-color: oklch(14.5% 0 0);
  --main-color:rgb(255, 255, 255);
}

body {
  position: relative;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  padding: 50px;
}
.footer{
  position: absolute;
  bottom:0.5px;
  left: 0.5px;
  right:0.5px;
  text-align: center;
  padding: 6px;
  background-color:oklch(31.815% 0.00141 15.817); 
  width: 100%;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}