.card-grid{
 max-width: 1200px;
max-height: 1200px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
margin: 0 auto;
margin-bottom: 40px;
}
.img-btn{
    margin:10px
    width :300px;
    height: 300px;
    border: 1px solid white;
}
.img-btn img{
    width:100%;
    height:100%;
}